<ion-view title="Login" left-buttons="leftButtons">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list list-inset">
            <form novalidate name="loginForm" ng-submit="submit()" autocomplete="off">
                <label class="item item-input">
                    <span class="input-label">IBO #</span>
                    <input type="text" ng-model="user.id" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" required>
                </label>
                <button type="submit" class="button button-assertive button-block" ng-disabled="loginForm.$invalid">Login</button>
            </form>
        </div>
    </ion-content>
</ion-view>
