<ion-view title="Audio" left-buttons="leftButtons">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list">
            <a ng-repeat="audio in audios | localremote: 'local'" class="item" href="#/audios/{{ audio.id }}">
                <h2>{{ audio.title }}</h2>
                <p>{{ audio.author }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>

<div class="bar bar-footer">
<div class="tabs tabs-icon-top">

<a href="#/audios" class="tab-item">
<i class="icon ion-volume-high smallIcon" data-pack="default" data-tags="ion-volume-high"> </i>
All Audios
</a>

<a href="#/audioslocal" class="tab-item">
<i class="icon ion-volume-high smallIcon" data-pack="default" data-tags="ion-volume-high"> </i>
Downloaded
</a>


</div>
</div>
